# Virtual environment
.venv/
venv/

# Python cache / compiled files
__pycache__/
*.py[cod]
*.pyo

# Distribution / packaging
*.egg-info/
dist/
build/

# IDE / Editor settings
.vscode/
.idea/

# OS junk
.DS_Store
Thumbs.db

# Logfiles
*.log
*.logs
